# vim:set ts=8 sts=2 sw=2 tw=0:
# vim:set ft=sh:


# Go
export GO15VENDOREXPERIMENT=1


## Launch mode (MUST change when release)
export GIN_MODE="debug"
#export GIN_MODE="release"

## lboard
export LBOARD_ROOT="$GOPATH/src/github.com/gotokatsuya/lboard"

