{{ define "index/main.tmpl" }}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>lboard</title>
		<script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
	</head>
	<body>
		<div id="root" class="container"></div>
		<script type="text/javascript" src="/public/main.js"></script>
	</body>
</html>
{{ end }}
